<!DOCTYPE html>
{% autoescape true %}
<html class="student">
<body class="content student">
<div class="container" style="color:#fff;">
	<h1>Edit Student Record</h1>
	<hr>
	<form action="/student/edit/{{student.key.id()}}" method="post" onsubmit="return validate(this)">
		
		<div class="row">
			<div class="col-md-3">
				<h3 class="pull-right">Student Number :</h3>
			</div>
			<div class="col-md-4" style="margin-top:20px;">
				<input type="text" class="form-control" name="student_number" required placeholder="{{student.student_number}}">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<h3 class="pull-right">First Name :</h3>
			</div>
			<div class="col-md-4" style="margin-top:20px;">
				<input type="text" class="form-control" name="fname" required placeholder="{{student.fname}}">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3" >
				<h3 class="pull-right">Last Name :</h3>
			</div>
			<div class="col-md-4" style="margin-top:20px;">
				<input type="text" class="form-control" name="lname" required placeholder="{{student.lname}}">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<h3 class="pull-right">Email :</h3>
			</div>
			<div class="col-md-4" style="margin-top:20px;">
				<input type="email" class="form-control" name="email" required placeholder="{{student.email}}">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<h3 class="pull-right">Phone Number :</h3>
			</div>
			<div class="col-md-4" style="margin-top:20px;">
				<input type="text" class="form-control" name="phone" required placeholder="{{student.phone}}">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<h3 class="pull-right">Department :</h3>
			</div>
			<div class="col-md-2" style="margin-top:20px;">
				<select class="form-control" name="department">
					{% if (student.department == 'CpE') : %}
						<option value="CpE" selected>CpE</option>
					{% else : %}
						<option value="CpE">CpE</option>
					{% endif %}

					{% if (student.department == 'CE') : %}
						<option value="CE" selected>CE</option>
					{% else : %}
						<option value="CE">CE</option>
					{% endif %}


					{% if (student.department == 'ME') : %}
						<option value="ME" selected>ME</option>
					{% else : %}
						<option value="ME">ME</option>
					{% endif %}


					{% if (student.department == 'EE') : %}
						<option value="EE" selected>EE</option>
					{% else : %}
						<option value="EE">EE</option>
					{% endif %}


					{% if (student.department == 'IE') : %}
						<option value="IE" selected>IE</option>
					{% else: %}
						<option value="IE">IE</option>
					{% endif %}


					{% if (student.department == 'ECE') : %}
						<option value="ECE" selected>ECE</option>
					{% else : %}
						<option value="ECE">ECE</option>
					{% endif %}

				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-4 btn-group btn-group-lg pull-left" style="margin-top:40px;">
				<input type="submit" class="btn btn-primary" value="Save">
				<input type="reset" class="btn btn-default" value="Clear">
			</div>
		</div>
	<script type="text/javascript">
		function validate(myForm){

			if(myForm["fname"].value.length == 0 || myForm["lname"].value.length == 0 || myForm["email"].value.length == 0 || myForm["phone"].value.length == 0 ){
				alert("Please do not leave blank entries.");
				return false;
			}
			else{
				alert("Successful");
				myForm.submit();
			}

		}
	</script>
</div>
</body>
</html>
{% endautoescape %}