<!DOCTYPE html>
<html class="student">
<body class="content student">	
	<div class="site-wrapper content" style="color:#000;">
		
		<div class="site-wrapper inner">
			<div class="cover-container">
				<div class="masthead clearfix">
					<div class="inner">
					</div>
				</div>
				<div class="inner cover">
					<h1 class="cover-heading">{{student.fname}} {{student.lname}}
						<h3>
							{% if (student.department == "CpE") %}
							<span class="label label-primary">Computer Engineering</span>
							{% endif %}
							{% if (student.department == "CE") %}
							<span class="label label-danger">Civil Engineering</span>
							{% endif %}
							{% if (student.department == "ECE") %}
							<span class="label label-info">Electronics and Communications Engineering</span>
							{% endif %}
							{% if (student.department == "IE") %}
							<span class="label label-success">Industrial Engineering</span>
							{% endif %}
							{% if (student.department == "ME") %}
							<span class="label label-warning">Mechanical Engineering</span>
							{% endif %}
							{% if (student.department == "EE") %}
							<span class="label label-default">Mechanical Engineering</span>
							{% endif %}
						</h3>
					</h1>
					<h5 class="label label-"></h5>
					<hr>
					<p class="lead">{{student.student_number}}</p>
				</div>
				<div class="mastfooter">
					<div class="inner">
						<p><strong>Contact Details :</strong> {{student.phone}} | {{student.email}}</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>