<!DOCTYPE html>
<html class="thesis">
<body class="content thesis" style="color:#000;">
	{% if (result) :  %}
	<div class="table-responsive container">

	<h1>List of Thesis Records</h1>		
		<table class="table table-hover" style="color:#000;">
			<thead>
				<th>Title</th>
				<th>School Year</th>
				<th>Status</th>
				<th>Link</th>
			</thead>
			<tbody>
				{% for thesis in all_thesis %}
					<tr>	
						<td>{{thesis.title}}</td>
						<td>{{thesis.schoolyear}}</td>
						<td>{{thesis.status}}</td>
						<td>
							<div class="btn-group btn-group-sm">
								<a href="/thesis/view/{{thesis.key.id()}}" class="btn btn-primary btn-sm" role="button">View</a>
								<a href="/thesis/edit/{{thesis.key.id()}}" class="btn btn-info btn-sm" role="button">Edit</a>
							</div>
						</td>	
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% else %}
		<div class="container content thesis">
			<h1>No Records Found.</h1>
		</div>
	{% endif %}

</body>
</html>