<!DOCTYPE html>
<html class="thesis">
<body class="content thesis">
	<div class="site-wrapper" style="color:#000;">
		
		<div class="site-wrapper inner">
			<div class="cover-container">
				<div class="masthead clearfix">
					<div class="inner">
					</div>
				</div>
				<div class="inner cover">
					<h1 class="cover-heading">{{thesis.title}}
						<h5>
							{% if (thesis.status == "Active") %}
							<span class="label label-primary">Active</span>
							{% endif %}
							{% if (thesis.status == "Inactive") %}
							<span class="label label-info">Inactive</span>
							{% endif %}
							{% if (thesis.status == "Rejected") %}
							<span class="label label-danger">Rejected</span>
							{% endif %}
							{% if (thesis.status == "Pending") %}
							<span class="label label-default">Pending</span>
							{% endif %}
							{% if (thesis.status == "For Removal") %}
							<span class="label label-warning">For Removal</span>
							{% endif %}
						</h5>

					</h1>
					<hr>
					<p class="lead" style="text-align:justify">{{thesis.description}}</p>
				</div>
				<div class="mastfooter">
					<div class="inner">
						<p>School Year : {{thesis.schoolyear}}</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>