<!DOCTYPE html>
{% autoescape true %}
<html class="adviser">
<body class="content adviser">
<div class="container" style="color:#fff;">
	<h1>Edit Adviser Record</h1>
	<hr>
	<form action="/adviser/edit/{{adviser.key.id()}}" method="post" onsubmit="return validate(this)">
		
		<div class="row">
			<div class="col-md-3">
				<h3 class="pull-right">Title :</h3>
			</div>
			<div class="col-md-2" style="margin-top:20px;">
				<select class="form-control" name="title">
					{% if (adviser.title == 'Mr.') : %}
						<option value="Mr." selected>Mr.</option>
					{% else : %}
						<option value="Mr.">Mr.</option>
					{% endif %}


					{% if (adviser.title == 'Ms.') : %}
						<option value="Ms." selected>Ms.</option>
					{% else %}
						<option value="Ms.">Ms.</option>
					{% endif %}

					
					{% if (adviser.title == 'Mrs.') : %}
						<option value="Mrs." selected>Mrs.</option>
					{% else : %}
						<option value="Mrs.">Mrs.</option>
					{% endif %}


					{% if (adviser.title == 'Dr.') : %}
						<option value="Dr." selected>Dr.</option>
					{% else %}
						<option value="Dr.">Dr.</option>
					{% endif %}


					{% if (adviser.title == 'Engr.') : %}
						<option value="Engr." selected>Engr.</option>
					{% else : %}
						<option value="Engr">Engr.</option>
					{% endif %}


				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<h3 class="pull-right">First Name :</h3>
			</div>
			<div class="col-md-4" style="margin-top:20px;">
				<input type="text" class="form-control" name="fname" required placeholder="{{adviser.fname}}">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3" >
				<h3 class="pull-right">Last Name :</h3>
			</div>
			<div class="col-md-4" style="margin-top:20px;">
				<input type="text" class="form-control" name="lname" required placeholder="{{adviser.lname}}">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<h3 class="pull-right">Email :</h3>
			</div>
			<div class="col-md-4" style="margin-top:20px;">
				<input type="email" class="form-control" name="email" required placeholder="{{adviser.email}}">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<h3 class="pull-right">Phone Number :</h3>
			</div>
			<div class="col-md-4" style="margin-top:20px;">
				<input type="text" class="form-control" name="phone" required placeholder="{{adviser.phone}}">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<h3 class="pull-right">Department :</h3>
			</div>
			<div class="col-md-2" style="margin-top:20px;">
				<select class="form-control" name="department">
					{% if (adviser.department == 'CpE') : %}
						<option value="CpE" selected>CpE</option>
					{% else : %}
						<option value="CpE">CpE</option>
					{% endif %}

					{% if (adviser.department == 'CE') : %}
						<option value="CE" selected>CE</option>
					{% else : %}
						<option value="CE">CE</option>
					{% endif %}


					{% if (adviser.department == 'ME') : %}
						<option value="ME" selected>ME</option>
					{% else : %}
						<option value="ME">ME</option>
					{% endif %}


					{% if (adviser.department == 'EE') : %}
						<option value="EE" selected>EE</option>
					{% else : %}
						<option value="EE">EE</option>
					{% endif %}


					{% if (adviser.department == 'IE') : %}
						<option value="IE" selected>IE</option>
					{% else: %}
						<option value="IE">IE</option>
					{% endif %}


					{% if (adviser.department == 'ECE') : %}
						<option value="ECE" selected>ECE</option>
					{% else : %}
						<option value="ECE">ECE</option>
					{% endif %}

				</select>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-4 btn-group btn-group-lg pull-left" style="margin-top:40px;">
				<input type="submit" class="btn btn-primary" value="Save">
				<input type="reset" class="btn btn-default" value="Clear">
			</div>
		</div>
<!--
		<div class="input-group input-group-lg" style="margin-bottom:25px;">
  			<span class="input-group-addon">Title</span>
  			<input type="text" class="form-control" name="title">
		</div>

		<div class="input-group input-group-lg" style="margin-bottom:25px;">
  			<span class="input-group-addon">Description</span>
  			<textarea rows="5" class="form-control" name="desc"></textarea>
		</div>

		<div class="input-group input-group-lg" style="margin-bottom:25px;">
  			<span class="input-group-addon">School Year</span>
  				<select class="form-control" name="syear">
  					<option>2013-2014</option>
  					<option>2012-2013</option>
  					<option>2011-2012</option>
  					<option>2010-2011</option>
  					<option>2009-2010</option>
  				</select>
		</div>

		<div class="input-group input-group-lg" style="margin-bottom:25px;">
  			<span class="input-group-addon">Status</span>
  			<span class="form-control">
  			<label class="radio-inline"><input type="radio" name="status" value="Active" checked="checked"> Active </label>
			<label class="radio-inline"><input type="radio" name="status" value="Inactive"> Inactive </label>
			<label class="radio-inline"><input type="radio" name="status" value="Rejected"> Rejected </label>
			<label class="radio-inline"><input type="radio" name="status" value="Pending"> Pending </label>
			<label class="radio-inline"><input type="radio" name="status" value="For Removal"> For Removal </label>
			</span>
		</div>
		<div class="btn-group btn-group-lg pull-right">
			<input type="submit" class="btn btn-primary" value="Save">
			<input type="reset" class="btn btn-default" value="Clear">
		</div>
	</form>
	-->
	<script type="text/javascript">
		function validate(myForm){

			if(myForm["fname"].value.length == 0 || myForm["lname"].value.length == 0 || myForm["email"].value.length == 0 || myForm["phone"].value.length == 0 ){
				alert("Please do not leave blank entries.");
				return false;
			}
			else{
				alert("Successful");
				myForm.submit();
			}

		}
	</script>
</div>
</body>
</html>
{% endautoescape %}