<!DOCTYPE html>
<html class="adviser">
<body class="content adviser" style="color: #000;">
	{% if (result) :  %}
	<div class="table-responsive container">

	<h1>List of Advisers</h1>
		<table class="table table-hover" style="color:#000;">
			<thead>
				<th>Name</th>
				<th>Department</th>
				<th>Link</th>
			</thead>
			<tbody>
				{% for adviser in all_adviser %}
				<tr>
					<td>{{adviser.title}} {{adviser.fname}} {{adviser.lname}}</td>
					<td>{{adviser.department}}</td>
					<td>
					<div class="btn-group btn-group-sm">
						<a href="/adviser/view/{{adviser.key.id()}}" class="btn btn-primary btn-sm" role="button">View</a>
						<a href="/adviser/edit/{{adviser.key.id()}}" class="btn btn-info btn-sm" role="button">Edit</a>
					</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% else %}
		<div class="container">
			<h1>No Records Found.</h1>
		</div>
	{% endif %}

</body>
</html>